body {
  background-image: linear-gradient(
    to right,
    rgba(103, 179, 241, 0),
    rgb(20, 22, 119)
  );
}
.clock {
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  /* border-style: dotted; */
}
#time_headline {
  text-decoration: underline;
}

#current_time_div {
  border: 2px solid rgb(74, 178, 248);
  border-radius: 15px;
  background-color: black;
  width: 430px;
  margin: 10px 460px;

  /* height: 20px; */
}
.time {
  font-size: 40px;
  font-family: emoji;
}
.date {
  font-size: 30px;
  font-weight: bold;
}
#time_id {
  color: green;
}

/*  these are for circle  */

.flex-container {
  display: flex;
  /* background-color: DodgerBlue; */
}
.circle {
  text-align: center;
  border: 2px solid rgb(5, 5, 5);
  border-radius: 15px;
  width: 100%;
  padding-bottom: 20px;
}
#radius {
  width: 80%;
  height: 40px;
  background-color: black;
  color: green;
  font-size: 30px;
  font-weight: bold;
  border-radius: 15px;
  padding: 8px;
}

#circumfence_label {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin-left: 36px;
}

#circumfence_value {
  font-size: 35px;
  font-weight: bold;
  color: green;
  font-family: system-ui;
}
.circle_result {
  font-size: 30px;
  font-weight: bold;
  color: green;
}

/*/ these are for tips calcualtion  */
.tips_calculate_div {
  text-align: center;
  border: 2px solid rgb(12, 12, 12);
  border-radius: 15px;
  width: 100%;
  margin-left: 10px;
  padding-bottom: 20px;
}

.tips_input {
  width: 30%;
  height: 40px;
  background-color: black;
  color: green;
  font-size: 30px;
  font-weight: bold;
  border-radius: 15px;
  padding: 8px;
}

#tips_btn {
  cursor: pointer;
  width: 30%;
  height: 40px;
  background-color: rgb(21, 34, 148);
  color: rgb(241, 245, 241);
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}
#tips_btn:hover {
  background-color: rgb(83, 167, 236);
  border-color: green;
}

.tips_result {
  font-size: 30px;
  font-weight: bold;
  color: rgb(236, 238, 240);
}

.footer {
  width: 100%;
  height: 75px;
  border: 2px solid rgb(5, 5, 5);
  border-radius: 10px;
  margin-top: 15px;
  text-align: center;
}

.AboutUs {
  height: 40%;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.icon {
  text-align: center;
}

#githubIcon {
  width: 36px;
  height: 36px;
  padding: 3px;
}
#mediumIcon {
  width: 54px;
  height: 40px;
  margin-left: -6px;
}
#linkedInIcon {
  width: 40px;
  height: 40px;
}
#fbIcon {
  width: 55px;
  height: 40px;
  margin-top: -3px;
  margin-left: -12px;
}
